body {
    background-color: #8083c9;
}

form {
    background-color: white;
    margin: auto;
    width: 20rem;
    border: 2px solid slateblue;
    padding: 10px;
    font-family: monospace;
    text-align: center;
}

label {
    color: rgb(38, 28, 105);
    text-transform: uppercase;
}

input {
    border: 1px;
    color: lightgray;
}

button {
    background-color: slateblue;
    color: white;
}